body {
    font-family: Arial, sans-serif;
    background-color: #567e4e;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 95vh;
    align-items: center;
  }
  
  
  .container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(47, 46, 46);
    width: 500px;
  
  }
  
  button {
    padding: 15px;
    background-color: #1e6128;
    border-radius: 8px;
    font-size: 16px;
    color: #f9f9f9;
    box-shadow: 0 4px 8px #f5f1f1;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1, h2 {
    text-align: center;
    color: #4f945d;
  }
  
  h3{
    color:  #4f945d;
  }
  
  
  hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #ddd;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="data_doacao"],
  input[type="cpf"],
  input[type="telefone"],
  input[type="valor"],
  input[type="data_doacao"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  button:hover {
    background-color: #e3e6e9;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead th {
    background-color: #007bff;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  
  
  
  .delete-btn {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 12px;
    width: auto;
  }
  
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  
  label {
    display: inline-block;
    padding-left: 2;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
  }
  